html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  height: 100vh;
}

.list-top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

div#search-container {
  align-items: center;
  display: flex;
}

.store-name {
  margin-top: 20px;
  font-size: 23px;
}

.store-address {
  font-size: 13px;
  color: black;
  margin-top: 20px;
}

.store-phone-number {
  color: gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.description-item {
  font-style: italic;
}

.name-item {
  font-weight: bold;
}

.address-item {
  text-decoration: underline;
}

.reps-wrapper {
  grid-column: 1 / span 6;
  grid-row: span 1;
}

#reps-list {
  overflow-x: auto;
  width: 100%;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.reps-list-wrapper.hidden {
  display: none;
}

.card {
  min-width: 350px;
  height: 225px;
  border-radius: 8px;
  background-color: transparent;

  padding: 0.25rem;
  transition: ease-in-out 0.5s;
  border: #acbcc9 solid 2px;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border: #d9534f solid 2px;
  background-color: whitesmoke;
}

.card.active {
  border: #d9534f solid 2px;
  background-color: whitesmoke;
}

#map {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: #acbcc9 solid 2px;
}

.map-wrapper {
  grid-column: 1 / span 6;
  height: 400px;
  grid-row: 2;
  transition: all 0.5s ease;
}

.map-wrapper--expanded {
  grid-column: 1 / span 12;
  height: 100vh;
  grid-row: 1;
}

.marker-card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 20px;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-row i {
  font-size: 16px;
  margin-right: 10px;
  color: #d9534f;
}

.marker-card__info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.marker-card__icon {
  padding: 0.25rem 0.25rem;
  color: #0000008a;
}

.marker-card h2,
.marker-card__title {
  color: #d9534f;
  margin-bottom: 5px;
}

.card-description {
  font-size: medium;
  color: rgb(138, 138, 138);
  margin-bottom: 15px;
}

.card-body {
  padding: 0.25rem;
}

.card-details i {
  color: #0000008a;
  padding: 0.25rem;
}

.card-details__item {
  margin-bottom: 8px;
  font-size: 15px;
}

.marker-card p {
  margin: 0;
}

#directions-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #d9534f;
  border: none;
  color: #fff;
  padding: 4px 4px;
  width: 50%;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

#directions-btn:hover {
  background-color: #c9302c;
}

.top-title {
  font-size: xx-large;
  color: #000000b9;
  align-self: center;
}

.search-input i {
  color: #0000008a;
  padding: 0.25rem;
}
.reps-list-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.reps-list-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.4rem;
  border: none;
  background-color: whitesmoke;
  color: #0000008a;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  border-radius: 5px;
}

.reps-list-button:hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.4rem;
  border: none;
  background-color: whitesmoke;
  color: #000;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}

.reps-list-button.prev {
  left: 0;
}

.reps-list-button.next {
  right: 0;
}

.reps-list-button i {
  font-size: 2rem;
}

#reps-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

#reps-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

#reps-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

#reps-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

#reps-list::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

#reps-list::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}

@media (max-width: 960px) {
  .list-top-section {
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0px;
  }

  .top-title {
    font-size: xx-large;
    color: #000000b9;
    align-self: flex-start;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 660px) {
  .top-title {
    font-size: xx-large;
    color: #000000b9;
    margin-bottom: 0.5rem;
    align-self: flex-start;
  }

  .list-top-section {
    padding: 1rem;
    margin-bottom: 0px;
  }

  div#search-container {
    align-items: start;
    display: flex;
  }

  input {
    width: 50%;
    margin-bottom: 0.5rem;
  }

  label {
    display: none;
  }
}

label {
  margin: 0.5rem;
}

@media (max-width: 390px) {
  .top-title {
    font-size: x-large;
    color: #000000b9;
    margin-bottom: 0.5rem;
    align-self: center;
  }
}
